.content {
  margin: 0 auto;
  width: 1440px;
  height: 1080px;
  background: var(--black);
  display: flex;
  align-items: center;

  button {
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--pink);
    margin-top: 1.2rem;
  }

  .postContent {
    color: white;
    position: absolute;
    width: 700px;
    height: 108px;
    left: 370px;
    top: 170px;
  }
}
.container {
  position: relative;
  width: 721px;
  height: 218px;
  left: 349px;
  top: 585px;
  color: var(--white-100);
  > h3 {
    background: pink;
  }
}

.divPreview {
  height: 4rem;
  .preview {
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 5.5rem;
    background: var(--white-100);
    color: var(--black);
    text-align: center;
    border-radius: 4px;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.125rem;
  }
}
.divPreviewinicial {
  margin-top: -10rem;
  margin-left: 22rem;

  .previewInicial {
    margin-top: 5.5rem;
    background: var(--white-100);
    color: var(--black);
    text-align: center;
    border-radius: 4px;
    padding: 1rem;
    padding-left: 12rem;
    padding-right: 12rem;

    font-weight: 600;
    font-size: 1.125rem;
  }
}
