.footerContainer {
  width: 95%;
  height: 10rem;
  margin-top: 6rem;
  position: relative;

  .divider {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.postPagination {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}
